/*------------------------------------------------------------------
[Color codes]
*/

@black-lighter:			#292929;
@black-light:			#2C2C2C;
@black:			#464646; .black { color: @black; }
@black-dark:	#161616;
@black-darker:	#0C0C0C;

@green-lighter: #CFECEB;
@green: #74C7C4; .green { color: @green; }
@green-darker: #3D7D7A;

@orange : #ef8803;

@white: 			#fff; .white { color: @white; }

@gray-darker:	#818a91;
@gray-dark:		#C0C9D1;
@gray:			#EDEFF2;
@gray-light: #E0E7EE;
@gray-lighter:		#CED2DB;
@gray-bg:			#F2F2F2;

@gray-th: #D1D1D1;

@red: #9F340A; .red { color: @red; }
