content .inner {
    &.page_cabinet {
        .btn.btn-login {
            margin: 89px 0 31px 32px; font-size:32px; .size(237, 88); padding:0; padding-left:35px; line-height:88px; display:block;
            .icon-login {
                background-image:data-uri("@{images}/__login-btn-icon.png");
                background-repeat: no-repeat;
                display:block;
                .size(26, 32);
                position:absolute;
                top:28px;
                left:60px;
                z-index:4;
            }
        }
        .block {
            margin-left:-33px; display: block;
            & > * { display:inline-block; vertical-align: top;}


            /* Сплачуйте житлово-комунальні послуги */
            &.block--personal-cabinet {
                margin-top:40px; height:340px;
                & > .subblock-left {
                    background-image:url("@{images}/pages/cabinet/no-auth/pay-block-bg.jpg"); 
                    & > h2 { top:0; color:#fff; font-size:32px; line-height:40px; }
                    .list {
                        margin-top: 20px; margin-left:33px;
                        .item {
                            color:#fff; font-style:italic; font-size:20px; margin-bottom:22px; position:relative; padding-left:38px;
                            .icon {
                                display:block; .size(27, 24); float:left; position:absolute; left:0; top:0;
                                &.time { background-image:data-uri("@{images}/pages/cabinet/no-auth/__time.png"); .size(27); }
                                &.hand { background-image:data-uri("@{images}/pages/cabinet/no-auth/__hand.png"); }
                                &.secure { background-image:data-uri("@{images}/pages/cabinet/no-auth/__secure.png"); .size(22, 27); }
                                &.easy { background-image:data-uri("@{images}/pages/cabinet/no-auth/__easy.png"); }
                            }
                        }
                    }
                }
                & > .subblock-left { height:340px; }
                & > .subblock-right { background-color:#eee; height:340px; text-align:center; }
            }

            &.block--quick-pays {
                margin-left:0; 
                margin-top:60px;
                h2 { font-size: 32px; display:block; margin-bottom:40px; }
                
                font-size:0;

                a {
                    display:inline-block;
                    width:400px;
                    font-size:20px;
                    padding-top:145px;
                    height:85px;
                    text-decoration:none; text-align:center; color:#000;
                    background-repeat:no-repeat;
                    background-position: top 50px center;
                    .transition(all 0.2s ease);

                    &:hover { background-color:#eee; }

                    &.police {
                        background-color:#00979c; color:#fff;
                        background-image:url("@{images}/pages/cabinet/no-auth/quick-pays/icon-police.png");
                        &:hover { background-color:darken(#00979c, 5%); }
                    }
                    
                    &.baby {
                        background-image:url("@{images}/pages/cabinet/no-auth/quick-pays/icon-baby.png");
                    }

                    &.cards {
                        background-image:url("@{images}/pages/cabinet/no-auth/quick-pays/icon-cards.png");
                    }

                    &.phone {
                        background-color:#01b671; color:#fff;
                        background-image:url("@{images}/pages/cabinet/no-auth/quick-pays/icon-phone.png");
                        &:hover { background-color:darken(#01b671, 5%); }
                    }
                }
            }

            &.block--conclusion {
                margin-left:0;
                margin-top:50px;
                h2 {font-size:20px; }
                p { font-size:12px; line-height:20px; }
            }
        }

        .h1-line-cabinet {
            display:inline-block; width: 100%; margin:30px 0 20px;
            h1 {
                display:inline-block; margin-top:0; float:left;
            }
            .secure {
                background-image:data-uri("@{images}/pages/cabinet/__secure.png");
                background-repeat:no-repeat;
                padding-left:25px;

                font-size:16px;
                color:#aaa;
                display: inline-block;
                margin-left:20px;
                margin-top:21px;
                height:22px;
                background-position:left center;
            }
        }

        .cabinet-objects {
            margin-top:31px;
            .houses_line {
                margin-bottom:27px; display: inline-block;
                .house_item {
                    width:336px;
                    float:left;
                    padding:31px 22px 24px;
                    position:relative;
                    margin-right:20px;
                    background-color:#eee;
                    .border-radius(6);
                    .box-shadow(0 3px 3px 0 rgba(0, 0, 0, 0.17));

                    .payed-icon { position:absolute; top:0; left:0; .size(91); display:none; z-index:2; background-image:data-uri("@{images}/pages/cabinet/objects/__payed.png"); }
                    &.payed {
                        .payed-icon { display:block; }
                    }

                    .title {
                        font-size:24px; font-weight:bold; color:#000; margin-left:80px; position:relative;
                        .icon { display:block; position:absolute; top:-9px; left:-80px; .size(54, 48); background-image:url("@{images}/pages/cabinet/objects/house.png"); }
                        .address { margin-top:6px; font-weight:normal; color: #00979c; font-size:12px; }
                        .bydate { margin-top:11px; padding-left: 25px; line-height:18px; height:18px; font-weight:normal; color: #444; font-size:12px; background-position:left center; background-repeat:no-repeat; background-image:data-uri("@{images}/pages/cabinet/objects/__calendar.png"); }
                    }
                    &.flat {
                        .title {
                            .icon { height:44px; background-image:url("@{images}/pages/cabinet/objects/flat.png"); }
                        }
                    }

                    .values {
                        display:inline-block; width:100%; margin-bottom:22px; margin-top:28px;
                        .value-line {
                            color:#444; font-size:12px; width:100%; display:inline-block; position:relative; border-bottom:2px solid #aaa;
                            .value-title { padding-bottom:2px; padding-right:2px; background-color:#eee; z-index:2; position:relative; bottom:-2px; display:inline-block; }
                            .align-right {
                                display: inline-block; position:absolute; right:0; bottom:0px;
                                .value {
                                    padding-left:2px; padding-bottom:2px; background-color:#eee; z-index:2; position:relative; bottom:-3px; display:inline-block; color:#000; font-size:20px; font-weight:bold;
                                    .small { font-size:12px; }
                                }
                            }

                            &.small-line {
                                border-bottom-width:1px; margin-top:16px;
                                .value-title { padding-bottom:1px; bottom:-1px; }
                                .align-right {
                                    bottom:-1px;
                                    .value { font-size:12px; color:#444; padding-bottom:1px; bottom:-1px; }
                                }
                            }
                        }
                    }

                    .btn { display: inline-block; padding-left:32px; padding-right:32px; }
                }
            }
            .btn.add-new {
                display:inline-block; font-style:20px; margin-top:32px; padding:22px 33px 21px 65px;
                .icon-objects { top:14px; left:28px; }
            }
            .add-object-form {
                margin-top:50px;
                .btn { line-height:34px !important; }
            }
        }

        .cabinet-settings {
            .page-tabs {
                display: inline-block; height:56px; width:100%; margin-top:-5px; margin-bottom:19px;
                .tab {
                    width:267px; float:left; display:block; background-color:#eee; color:#00979c; font-size:16px; text-align:center; line-height:20px; padding:18px 0;
                    &.current { background-color:#00979c; color:#fff; }
                    &.last { width:268px; }
                }
                &.page-tabs-4 {
                    .tab {
                        width:200px;
                        &.last { width:202px; }
                    }
                }
            }

            .form-cabinet-settings {
                .input {
                    &.with-btn { margin-top:20px; }
                    input.txt { width:280px; }
                    &.pass-logn {
                        .eye { right:-35px; }
                    }
                }
                .left {
                    width:50%; float:left; display:inline-block;
                }
                .right {
                    width:50%; display:inline-block;
                }

                .check-box-line {
                    font-size:16px; color:#000; line-height:20px; margin-bottom:7px; position: relative; min-height:40px;
                    label {
                        display: inline-block; margin-left:35px;
                        .hint { color:#888; font-size: 12px; }
                    }
                    .niceCheck {
                        position: absolute;
                        left:0;
                        top:-1px;
                    }

                }
                .all-objects-checkbox {
                    margin-top:13px; margin-bottom:39px;
                    .checkboxes {
                        margin-left:10px; margin-top:-19px; border-left:1px dotted #cdcdcd; display: inline-block;
                        .check-box-line { top:39px; }
                        .niceCheck {
                            left:24px;
                            .dotted-line { position:absolute; .size(20, 1); border-bottom:1px dotted #cdcdcd; left:-24px; top:9px; }
                        }
                        label { margin-left:56px; }
                    }
                }

                &.form-cabinet-settings-rule {
                    .check-box-line { margin-top:4px; margin-bottom:0; }
                    .form-subtitle.delete-profile { margin-top:30px; }
                    .with-btn { margin-top:47px; }
                }
                &.form-cabinet-settings-delete_profile {
                    .form-block {
                        width:100%;
                        .input {
                            width:600px;
                            textarea.txt { width:580px; height:170px; margin-top:8px; }
                        }
                        .buttons-here {
                            margin-top:15px;
                            .btn { margin-right:20px; }
                        }
                    }
                }
            }

            .form-subtitle {
                color:#000204; font-weight:bold; font-size:24px; margin-top:4px; margin-bottom:19px;
                &.subtitle-bg-green { color:#fff; background-color:rgba(1, 182, 113, 0.8); display: inline-block; padding:20px; }
            }

            &.object-item-paybill {
                .form-block {
                    .input {
                        width:100%;
                        .pay-item {
                            font-weight:bold; font-size:16px; display: inline-block; width:400px; margin:10px 10px 15px 0; float:left;
                        }
                        .total-sum { font-size:24px; }
                        .btn-box { display: inline-block; width:200px; margin-top:15px; }
                    }
                    .paysystems {
                        display: inline-block; margin-bottom:15px;
                        .check-box-line {
                            margin:10px 0 15px;
                            img { margin:10px 10px 0 15px; position:relative; top:6px; }
                            .text-label { position:relative; top:-5px; }
                        }
                    }
                }
            }
        }

        .filters-form {
            .dotted-select-box {
                padding:3px 14px 3px 3px;
                display: inline-block;
                background-image:data-uri("@{images}/pages/cabinet/objects/__appearance.png");
                background-repeat: no-repeat;
                background-position: right 18px;
                margin-right:20px;
                position: relative;
                &.with-icon { margin-left:41px; }

                .icon {
                    display: block;
                    .size(27);
                    position:absolute;
                    left:-39px; top:6px;
                    &.calendar { background-image:data-uri("@{images}/pages/cabinet/objects/__calendar-blue.png"); }
                    &.services { background-image:data-uri("@{images}/pages/cabinet/objects/__services.png"); }
                }

                select.dotted-select {
                    padding-right:0;
                    display: inline-block;
                    .box-shadow(none);
                    border:0 none;
                    border-bottom:1px dotted #00979c;
                    color:#00979c;
                    font-size:16px;
                    font-weight:bold;
                    .appearance(none);
                    option {
                        padding:3px 5px;
                        border-right: 1px solid #222;
                        font-weight: normal;
                    }
                }
            }
            .btn {
                width:187px; padding-left:0; padding-right:0; margin-top:-2px;
            }
        }
    }
}
