/**
* Набор стилей для страниц типа "Калькулятор"
*
* @package gioc
* @section calculator
* @link http://gioc.dev/calc-devices, http://gioc.dev/calc-subsidies
* @author Sergey Nalomenko <nalomenko@gmail.com>
*/

content .inner .calculator {
	padding-right:20px;
	padding-top:40px;
	.calc-block	{
		position:relative;
		border:solid 2px #00979c;
		.border-radius(10);
		padding:50px 30px 30px 30px;
		margin-bottom:50px; 

		.title {
			position:absolute; top:-20px; left:30px;
			background-color:#fff;
			font-weight:bold;
			font-size:20px;
			padding:10px;

			img {
				margin-right:10px;
				vertical-align: middle;
			}
		}

		.calc-subblock {
			padding: 30px 30px 30px 40px;
			.border-radius(5);
			.box-shadow(0 0 5px 0 rgba(0, 0, 0, 0.3));
		}	
	}

	.item-row {
		display: block;
		margin-bottom:30px; 

		.col-icon, .col-label, .col-input { display: inline-block; line-height: 20px; vertical-align: top; }

		.col-icon {
			width:30px; text-align:center;
			padding-right: 10px;
		}

		.col-label {
			width: 350px;
			margin-right:50px;
			.comment {
				font-size:12px; color:#888;
			}
		}

		.col-input {
		}
	}
	

	.btn {
	    font-size: 24px;
	    line-height: 41px;
	    padding-right: 20px; padding-left:20px;
	}
}
