content {
    .inner.page_cabinet {
        .h1-line {
            display:block; position:relative; margin-top:37px;
            .already-have { text-align:right; line-height:22px; font-size:16px; color:#02989d; position:absolute; right:18px; top:17px; font-weight:bold; }
        }
    }
    .registration, .cabinet-objects, .cabinet-settings {
        .form-block {
            width:50%; float:left; display:inline-block; margin-top:27px;
            .input {
                display:inline-block; width:319px; position:relative;
                label { font-size:16px; }
                input {
                    margin-top:12px; margin-bottom:18px; color:#01b671;
                }
                &.pass {
                    input {
                        width:236px;
                    }
                }
                .eye { display:block; .size(27, 16); position:absolute; right:8px; top:41px; cursor:pointer; background-image:data-uri("@{images}/pages/cabinet/registration/__eye.png"); }
                .hint { color:#888; font-size:12px; }
                .btn {
                    font-size: 24px; line-height:41px; margin-top:8px; width:100%;
                }

                // тут стили для страницы авторизации
                &.login-form-email {
                    margin-bottom:32px;
                    .bracket {
                        font-family:Arial;
                        display:block;
                        color:#444;
                        font-size:12px;
                        text-align:center;
                        padding:51px 0;
                        position:absolute;
                        right:-41px;
                        top:48px;
                        .size(36, 20);
                        background-repeat:no-repeat;
                        background-position:left center;
                        background-image:data-uri("@{images}/pages/cabinet/registration/__login-bracket.png");
                    }
                }
            }
        }
        .info-block {
            width:50%; display:inline-block;
            .block-inner {
                padding:26px 25px 29px 27px; background-color:#01b671; color:#fff; margin-right:18px; margin-top:55px;
                .title { font-weight:bold; font-size:24px; margin-bottom:25px; font-family:Arial; }
                .item {
                    font-family:Arial; font-family:16px; min-height:25px; line-height:19px; margin-bottom:11px; padding-left:31px; background-repeat:no-repeat; background-position:left 3px;
                    &.email { background-image:data-uri("@{images}/pages/cabinet/registration/__email.png"); }
                    &.quick { background-image:data-uri("@{images}/pages/cabinet/registration/__quick.png"); }
                    &.first { background-image:data-uri("@{images}/pages/cabinet/registration/__first.png"); }
                    &.like { background-image:data-uri("@{images}/pages/cabinet/registration/__like.png"); }
                    &.news { background-image:data-uri("@{images}/pages/cabinet/registration/__news.png"); }
                    &.archive { background-image:data-uri("@{images}/pages/cabinet/registration/__archive.png"); }
                }
            }
        }
    }
}