label { cursor:pointer; font-size: 14px; }
label.disabled { cursor:default; .opacity(0.5); }
input.txt, textarea.txt, select.txt {
    font-family:Opensans, Arial; font-size:14px; line-height:22px; display:inline-block; padding:1px 5px; border:2px solid @green;
    color: #000 !important;
}
textarea.txt { resize:none; }
input.txt { 
	height:27px; 
	&.num-short { width:150px; text-align:center; }
	&.bold { font-weight: bold; }
	&.green { color: #01b671; }
	&.s24 { font-size:24px; }
}

content .inner .registration {
    input.form-txt-input {
        width:279px;
        &.pass { width:236px; }
    }
}

form .field-group .error-text,
form .input .error-text {
    position:relative; padding-left:15px; margin:-10px 0 31px 14px; font-family:Opensans; color:#f00; font-size:12px;
    .error-icon { position:absolute; top:-14px; left:0; display:block; .size(10, 21); background-image:data-uri("@{images}/pages/cabinet/registration/__error-icon.png"); }
}

.niceCheck {
    .size(22);
    display: inline-block;
    cursor: pointer;
/*
    background-position: 0 0;
    background-image:data-uri("@{images}/pages/cabinet/__checkbox.png");
    &.radio { background-image:data-uri("@{images}/pages/cabinet/__radio.png"); }
    &.checked { background-position: 0 -22px; }
    input {
        display: none;
    }
*/
    .dotted-line {
        .size(20, 1);
/*        border-bottom: 1px dotted #cdcdcd;*/
        left: -24px;
        position: absolute;
        top: 9px;
    }
}