/* Global variables */
@images: "../pic";
@ui-images: "../../images/cupertino-ui-images";
@fonts: "./fonts";
@base-width: 920px;
@main-menu-width: 901px;
@footer-height: 182px;
@sidebar-width: 347px;
@header-height: 79px;
@menu-height: 55px;

@green: #83b67b;
@green-dark: #004b00 ;


.text-shadow(@param)
{
    -webkit-text-shadow:@param;
    -moz-text-shadow:@param;
    -ms-text-shadow:@param;
    -o-text-shadow:@param;
    text-shadow:@param;
}

/* Libraries & reset files */ 
@import "lib/reset";
@import "lib/lesshat";
@import "buttons";
//Plugins
@import "plugins/easydropdown-gioc";
@import "plugins/prettyPhoto";
@import "plugins/jquery-ui-1.8.7.custom.less";
@import "plugins/jquery.autocomplete_2.less";
@import "plugins/tooltipster";
//Pages
@import "pages/cabinet";
@import "pages/objects";
@import "pages/registration";
@import "forms";

@font-face{
 font-family:"OpenSans";
 font-style:normal;
 font-weight:normal;
 src:url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

.black { color: #000; }

breadcrumbs, slider, slide, submenu, heading, info, sidebar, menu, header, footer, news, content { display:block; }

b, strong { font-weight:bold; }
i { font-style:italic; }
h1 { font-size:16px; font-weight:bold; margin-bottom:20px; line-height:40px; color: #83b67b; text-align: center; text-transform: uppercase;} 
h2 { font-size:24px; font-weight:bold; margin-bottom:20px; line-height:30px; } 
h3 { font-size:16px; font-weight:bold; margin-bottom:20px; line-height:28px; color: @green; } 
h4.title { font-size:20px; font-weight:bold; margin-bottom:8px; margin-top:28px; }
p { font-size:14px; text-indent:15px; margin-bottom:30px; padding-right:10px; font-family:OpenSans, Arial; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

html { width:100%; height:100%; }
body { padding:0 0 90px; position:relative; .size(100%, auto); background:white; min-width:@base-width; min-height:100%; font-family:OpenSans, Arial;  }
body.popup-open { overflow:hidden; }

a {
    color: #337ab7;
    cursor: pointer;
    &:hover { text-decoration:none; color: #23527c; }
    &.dotted {
        text-decoration:none; border-bottom:1px dotted @green-dark;
        &:hover { border-bottom-color:transparent; }
    }
    &.no-decoration { text-decoration:none; }
}

.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }
.no-margin { margin: 0 !important; }
.no-padding { padding: 0 !important; }
.full-width { width: 100% !important; }
.clear { clear: both; }
.hidden { display: none; }
ul { list-style-type: disc; margin: 10px 0 10px 25px; }
ol { list-style-type: decimal; margin: 10px 0 10px 25px; }
ul > li, ol > li { padding-left:15px; line-height:1.5em; font-size:inherit; font-size:14px; }
.inner-global (){ position:relative; width:@base-width; left:50%; margin-left:-@base-width / 2; }
.noselect () { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.ui-autocomplete { z-index:5; }

.highlight { color:@green-dark; font-weight:bold; }
h2.big-success-message { font-size:24px; background-color:rgba(1, 182, 113, 0.8); color:#fff; padding:20px; margin-top:40px; display:inline-block; }
h2.big-error-message { font-size:24px; background-color:rgba(182, 1, 13, 0.8); color:#fff; padding:20px; margin-top:40px; display:inline-block; }
.error-description { font-size:18px; color:#900; font-weight:bold; padding:10px; padding-left:0; margin-bottom:20px; }
.big-warning-message { font-size:24px; background-color:rgba(255, 241, 25, 0.8); color:#333; padding:20px; margin-top:40px; display:inline-block; }
.star-required { position:relative; top:-3px; cursor:help; color:@green-dark; }


table, tbody, thead, th, tr, td { border-collapse:collapse; border:1px solid #444; vertical-align:middle; }
th, td { padding:5px; font-size:12px; font-family:"Opensans", Arial; }
th p, td p { padding:0; font-size:12px; text-indent:0; }

table.no-border {
    border:0px none;
    tbody, thead, th, tr, td { border:0px none; }
}

td.tbl-check-yes { height:35px; background-image:url("@{images}/pages/tbl-check-yes.png?v1"); background-position:center center; background-repeat:no-repeat; }
td.tbl-check-no { height:35px; background-image:url("@{images}/pages/tbl-check-no.png?v1"); background-position:center center; background-repeat:no-repeat; }


#global-owerlay {
    z-index:95;
    position:fixed;
    display:block;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:rgba(0, 0, 0, 0.45);
    .popup-box {
        .inner-global;
        width:@base-width - 500;
        margin-left:-(@base-width - 500) / 2;
        top:55px;
        text-align: center;
        background-color:#fff;
        .border-radius(10);
        min-height:300px;
        .popup-content {
            margin:25px 15px 30px;
            display: inline-block;
            .field-group {
                display: inline-block; text-align:left; width:600px;
                .txt { width:558px; margin-bottom:10px; }
                textarea.txt { height:150px; }
            }
            .buttons-here {
                position:relative; height:40px; margin-top:15px;
                .btn {
                    margin:0; display: inline-block;
                    &.cancel-btn { position:absolute; left:0; }
                    &.success-btn { position:absolute; right:0; }
                }
            }
        }
    }

    &.youtube {
        .popup-box {
            width:460px;
            margin-left:-230px;
            height:344px;
            .border-radius(0);
            .popup-content {
                margin:0;
            }
        }
    }
}

.work-content {
    .line {
        font-size:12px; display:block; min-height:15px; padding-left:13px; background-position:left center; background-repeat:no-repeat;
        &.green { background-image:data-uri("@{images}/h/__phone-green-circle.png"); }
        &.yellow { background-image:data-uri("@{images}/h/__phone-yellow-circle.png"); }
        .col { display:inline-block; float:left; width:73px; }
        .col-r { display:inline-block; }
    }
    .title { font-weight:bold; font-size:20px; margin-bottom:5px; margin-top:21px; }
}

.main-conteiner {
    margin-top: 14px;
    .inner-global;
    .box-shadow(0 0 10px 0 rgba(0, 0, 0, 0.3));
}

.error-iframe {
    background:#fff; z-index:10001; padding:20px; font-size: 12px; .border-radius(10); .box-shadow(0 0 8px 0 rgba(0, 0, 0, 0.4));
    .title { font-weight:bold; padding-bottom:10px; }
    input.txt { 
        margin:10px 0; 
    }
}

header {
    background-color:#fff;
    .top-line {
        & > .inner {
            .inner-global; height:@header-height;
            .logo {
                .size(367, 67);
                background-image: url("@{images}/logo-header.png");
                left: 33px;
                position: absolute;
                top: 5px;
            }
            
            .phone-block {
                display: block;
                left: 540px;
                padding-left: 38px;
                position: absolute;
                top: 18px;
                
                .phone-icon { display:block; left:0; top:5px; position:absolute; .size(27); z-index:9; background-image:data-uri("@{images}/h/__phone.png"); }
                .tel {
                    text-decoration:none;
                    color:inherit;
                    font-size:20px;
                    font-weight: bold;
                    color:#000;
                }
                .number {
                    position:relative;
                    .border-radius(4px);
                    height:26px;
                    padding:8px 43px 3px 9px;
                    z-index:9;
                    .box-shadow(inset 0 0 4px 0 rgba(0, 0, 0, 0.2));
                    .darr-border {
                        .size(1, 37);
                        display:block;
                        position:absolute;
                        top: 0;
                        right:35px;
                        border-right:1px dotted #ccc;
                    }
                    .darr {
                        background-image:data-uri("@{images}/h/__phone-darr.png");
                        .size(12, 6);
                        position:absolute;
                        right:11px;
                        top:16px;
                    }
                }
                &:hover {
                    .number { .box-shadow(none); }
                    .darr-border { display:none; }
                    .full-phone-box { display:block; }
                    .darr { background-image:data-uri("@{images}/h/__phone-darr-grey.png"); }
                }
                .full-phone-box {
                    display:none;
                    background-color:#fff;
                    width:100%;
                    padding-right:30px;
                    position:absolute;
                    top:-11px;
                    padding-top:52px;
                    padding-bottom:21px;
                    left:-16px;
                    .box-shadow(0 0 10px 0 rgba(0, 0, 0, 0.3));
                    .border-radius(5);
                    z-index:8;
                    .tel { margin-left:63px; margin-bottom:15px; display:inline-block; }
                    .work {
                        border-top:1px dotted #ccc; padding-right:30px; width:100%;
                        .work-content { padding-left:66px; margin-top:11px; background-position:16px 1px; background-repeat:no-repeat; background-image:data-uri("@{images}/h/__clock.png"); }
                    }
                }
            }

            .account-link,
            .account-link .account-open .head-line .avatar .default-avatar { background-image:data-uri("@{images}/h/__account.png"); }
            .account-link .account-open .head-line {
                .username {
                    display: table;
                    height:42px;
                    min-width:100px;
                    margin-top:-14px;
                    overflow:hidden;
                    span {
                        display: table-cell; vertical-align: middle; max-width: 250px;
                    }
                }
            }

            .account-link {
                position:absolute;
                right:33px;
                top:21px;
                color:@green-dark;
                padding-left:32px;
                background-position: left center;
                background-repeat: no-repeat;
                font-family:"Opensans";
                display:inline-block;
                text-decoration:none;
                height:31px;
                font-size:16px;
                .border-bot {
                    border-bottom:1px dotted @green-dark;
                    display: inline-block;
                    padding-top: 6px;
                    font-size:18px;
                }
                &:hover {
                    .border-bot { border-bottom-color:transparent; }
                }

                &.logged-in {
                    .account-open {
                        color:#222;
                        display:inline-block;
                        z-index:5;
                        position:absolute;
                        padding-top:2px;
                        top:-3px;
                        right:-12px;
                        background-color:#fff;
                        .border-radius(5);
                        .box-shadow(inset 0 0 3px 0 rgba(0, 0, 0, 0.3));
                        height:41px;
                        overflow:hidden;
                        
                        .head-line {
                            font-style:12px;
                            font-weight:bold;
                            background-repeat:no-repeat;
                            background-image:data-uri("@{images}/h/__account-open.png");
                            background-position:right center;
                            margin-right:24px;
                            margin-bottom:15px;
                            min-height:22px;
                            padding:12px 45px 5px 68px;
                            position:relative;
                            
                            .avatar {
                                display:block;
                                .size(34);
                                position:absolute;
                                left:14px;
                                top:3px;
                               
                                img { .border-radius(4); }
                                .default-avatar { .border-radius(4); .size(34); display:block; background-position:center center; background-repeat:no-repeat; }
                            }
                        }

                        .item {
                            padding:5px 5px 5px 43px; background-repeat:no-repeat; background-position:15px center; min-height:12px; margin-bottom:2px;
                            &.with-border { border-top:1px dotted #ccc; padding-bottom:9px; padding-top:8px; }
                            a { text-decoration:none; }

                            &.settings { background-image:data-uri("@{images}/h/account/__settings.png"); }
                            &.faq { background-image:data-uri("@{images}/h/account/__faq.png"); }
                            &.flash { background-image:data-uri("@{images}/h/account/__flash.png"); }
                            &.objects { background-image:data-uri("@{images}/h/account/__objects.png"); }
                            &.bank { background-image:data-uri("@{images}/h/account/__bank.png"); }
                            &.logout { background-image:data-uri("@{images}/h/account/__logout.png"); }
                        }
                    }


                    &:hover {
                        .account-open {
                            .box-shadow(0 0 7px 0 rgba(0, 0, 0, 0.3));
                            padding-top:12px;
                            top:-13px;
                            height:auto;
                            overflow:visible;
                        }
                    }
                }
            }
        }
    }
}

content {
    .inner-global; display:inline-block; padding-bottom:@footer-height;
    > .inner {
/*        width:@base-width - @sidebar-width - 33; float:none;*/
        width:@base-width - 33; float:none;
        padding: 10px 25px;
        &.wo-sidebar { width:@base-width - 33; float:none; }
        breadcrumbs {
            margin-top:18px; margin-bottom:15px;
            color:#888;
            font-size:12px;
            .current {
                color:#000;
            }
        }

        .block {
            & > .subblock-left {
                .size(434, 235);
                & > h2 { 
                    position:relative; top:22px;
                    padding:25px 0 25px 33px;
                }
            }
        }

     
        .real-full-width-block { display:inline-block; position:relative; width:853px; }
        
        h1.big-title {
            display:inline-block; font-weight:bold; font-size:16px; color:@green; padding: 5px 30px 5px 33px; margin-left:-33px; margin-top:0px;
            margin-bottom: 0;
            &.green { /*background-color:#83b67b;*/ }
            &.normal-margin { margin-top:26px; }
        }

        h1.search-title { margin-top:34px; }
        
        h2.big-subtitle {
            display:inline-block; font-weight:bold; font-size:24px; color:#fff; padding:10px 30px 10px 33px; margin-left:-33px; margin-top:30px; background-color:@green-dark;
            &.green { background-color:#83b67b; }
            &.normal-margin { margin-top:26px; }
        }
        .main-page-text {
            font-size:16px; color:#000; line-height:24px; margin-top:20px; margin-bottom:20px;padding-right:10px; padding-bottom:40px; border-bottom:1px solid #cceaeb;
        }
        .page-subtitle {
            color:#000; font-size:24px; line-height:30px; margin-top:40px; margin-bottom:20px; font-weight:bold;
            &.border-top { padding-top:40px; border-top:1px solid #cceaeb; }
        }
        .subtitle-item {
            padding-left:96px;
            background-repeat:no-repeat;
            display:inline-block;
            margin-top:16px;
            background-position:left top;
            margin-bottom:14px;
            &.with-icon { min-height:68px; }
            .title {
                font-weight:bold; font-size:20px; margin-bottom:18px; display:inline-block;
            }
            .desc {
                color:#000; font-size: 12px; line-height:15px;
                p { text-indent:0; padding:0; margin:0; }
            }
        }

        &.page_cabinet, {
            font-size:16px;
            .work-content {
                .line {
                    font-size:16px; font-weight:bold; min-height:24px; line-height:24px;
                    .col { width:204px; }
                    .col-r { font-weight: normal; }
                    &.comment {
                        font-size:12px; font-weight:normal; padding-left:0;
                        a { text-decoration:none; }
                    }
                }
            }
            .phone-line { line-height:24px; }
            .map-block { margin-top:43px; margin-bottom:45px; }
            .feedback-form {

                width: 860px;

                .field-group {

                    .txt-full { width: 500px !important; }
                    select.txt-full { width: 515px !important; }

                    .txt { color:#83b67b; margin-top:12px; margin-bottom:25px; width:290px; }
                    select.txt { width: 304px; height: 35px; }
                    textarea.txt { .size(655, 216); }


                    .btn { margin-top:8px; font-size:16px; width:317px; padding:0 0 5px; height:36px; }

                    &.group-2col {

                        display: inline-block; float: left; margin-right: 130px;
                    }

                    &.full-width {

                        input.txt {

                            width: 724px;
                        }
                    }
                }
            }
        }

        .btn-more {
            display:inline-block;
            margin-top:41px;
            .btn {
                font-size:20px;
                padding:5px 32px 5px 75px;
                height:45px;
                line-height:45px;
                position:relative;
                .icon-reload {
                    display:block;
                    .size(21);
                    position:absolute;
                    top:17px;
                    left:39px;
                    z-index:4;
                }
            }
        }

        .ruler {
            margin-top:48px;
            a {
                color:@green-dark; font-size:16px; text-decoration:none; margin-left:5px; margin-right:5px; background-position:center center; background-repeat:no-repeat;
                &.current { display:inline-block; .border-radius(3); cursor:default; height:28px; line-height:28px; background-color:@green-dark; padding-left:9px; padding-right:9px; font-weight:bold; color:#fff; }
                &.first { display:inline-block; height:12px; width:14px; background-image:data-uri("@{images}/pagination/__first.png"); margin-left:2px; margin-right:2px; }
                &.prev  { display:inline-block; height:12px; width:14px; background-image:data-uri("@{images}/pagination/__prev.png"); margin-left:2px; margin-right:2px; }
                &.next  { display:inline-block; height:12px; width:14px; background-image:data-uri("@{images}/pagination/__next.png"); margin-left:2px; margin-right:2px; }
                &.last  { display:inline-block; height:12px; width:14px; background-image:data-uri("@{images}/pagination/__last.png"); margin-left:2px; margin-right:2px; }
            }
        }
    }
}

footer{
    .size(100%, @footer-height); position:absolute; bottom:0; background-color:#eee; font-size:12px; line-height:15px;
    & > .inner {
        .inner-global; padding:49px 33px 0; height:78px;
        color:#fff;
        .left {
            width:180px;
            float: left;
            display: inline-block;
            .copyright { color:#000; margin-top:14px; }
        }
        .center {
            width:@base-width - 180 - 645;
            float: left;
            display: inline-block;
            .links {
                a {
                    color: #83b67b;
                    &.first {
                        display: inline-block;
                        width: 110px;
                        float: left;
                    }
                    &.last {
                        display: inline-block;
                        margin-left: 10px;
                    }
                }
            }
        }
        .right {
            width:645px;
            display: inline-block;
        }
    }
}
