/* Global variables */
@images: "../pic";
@ui-images: "../../images/cupertino-ui-images";
@fonts: "./fonts";
@base-width: 1200px;
@main-menu-width: 901px;
@footer-height: 182px;
@sidebar-width: 347px;
@header-height: 79px;
@menu-height: 55px;


.text-shadow(@param)
{
    -webkit-text-shadow:@param;
    -moz-text-shadow:@param;
    -ms-text-shadow:@param;
    -o-text-shadow:@param;
    text-shadow:@param;
}

/* Libraries & reset files */ 
@import "lib/reset";
@import "lib/lesshat";
@import "buttons";
//Plugins
@import "plugins/easydropdown-gioc";
@import "plugins/prettyPhoto";
@import "plugins/jquery-ui-1.8.7.custom.less";
@import "plugins/jquery.autocomplete_2.less";
@import "plugins/tooltipster";
//Pages
@import "pages/foruser";
@import "pages/media";
@import "pages/cabinet";
@import "pages/objects";
@import "pages/leadership";
@import "pages/calculator"; 
@import "pages/registration";
@import "pages/home";
@import "forms";


breadcrumbs, slider, slide, submenu, heading, info, sidebar, menu, header, footer, news, content { display:block; }
b, strong { font-weight:bold; }
i { font-style:italic; }
h1 { font-size:32px; font-weight:bold; margin-bottom:20px; line-height:40px; } 
h2 { font-size:24px; font-weight:bold; margin-bottom:20px; line-height:30px; } 
h3 { font-size:22px; font-weight:bold; margin-bottom:20px; line-height:28px; } 
h4.title { font-size:20px; font-weight:bold; margin-bottom:8px; margin-top:28px; }
p { font-size:14px; text-indent:15px; margin-bottom:30px; padding-right:10px; font-family:"Ubuntu", Arial; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

html { width:100%; height:100%; }
body { padding:0 0 90px; position:relative; .size(100%, auto); background:white; min-width:@base-width; min-height:100%; font-family:"Ubuntu", Arial; }
body.popup-open { overflow:hidden; }
a {
    color:#00979c;
    &:hover { text-decoration:none; color:#00979c; }
    &.dotted {
        text-decoration:none; border-bottom:1px dotted #00979c;
        &:hover { border-bottom-color:transparent; }
    }
    &.no-decoration { text-decoration:none; }
}
.align-left { text-align:left; }
.align-right { text-align:right; }
.align-center { text-align:center; }
.full-width { width:100% !important; }
.clear { clear:both; }
ul { list-style-type:disc; margin:10px 0 10px 25px; }
ol { list-style-type:decimal; margin:10px 0 10px 25px; }
ul > li, ol > li { padding-left:15px; line-height:1.5em; font-size:inherit; font-size:14px; }
.inner-global (){ position:relative; width:@base-width; left:50%; margin-left:-@base-width / 2; }
.noselect () { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.ui-autocomplete { z-index:5; }

.highlight { color: #f42; font-weight: 900; }
h2.big-success-message { font-size:24px; background-color:rgba(1, 182, 113, 0.8); color:#fff; padding:20px; margin-top:40px; display:inline-block; }
h2.big-error-message { font-size:24px; background-color:rgba(182, 1, 13, 0.8); color:#fff; padding:20px; margin-top:40px; display:inline-block; }
.error-description { font-size:18px; color:#900; font-weight:bold; padding:10px; padding-left:0; margin-bottom:20px; }
.big-warning-message { font-size:24px; background-color:rgba(255, 241, 25, 0.8); color:#333; padding:20px; margin-top:40px; display:inline-block; }
.star-required { position:relative; top:-3px; cursor:help; color:#00979c; }


table, tbody, thead, th, tr, td { border-collapse:collapse; border:1px solid #444; vertical-align:middle; }
th, td { padding:5px; font-size:12px; font-family:"Ubuntu", Arial; }
th p, td p { padding:0; font-size:12px; text-indent:0; }

table.no-border {
    border:0px none;
    tbody, thead, th, tr, td { border:0px none; }
}

td.tbl-check-yes { height:35px; background-image:url("@{images}/pages/tbl-check-yes.png?v1"); background-position:center center; background-repeat:no-repeat; }
td.tbl-check-no { height:35px; background-image:url("@{images}/pages/tbl-check-no.png?v1"); background-position:center center; background-repeat:no-repeat; }


#global-owerlay {
    z-index:95;
    position:fixed;
    display:block;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:rgba(0, 0, 0, 0.45);
    .popup-box {
        .inner-global;
        width:@base-width - 500;
        margin-left:-(@base-width - 500) / 2;
        top:55px;
        text-align: center;
        background-color:#fff;
        .border-radius(10);
        min-height:300px;
        .popup-content {
            margin:25px 15px 30px;
            display: inline-block;
            .field-group {
                display: inline-block; text-align:left; width:600px;
                .txt { width:558px; margin-bottom:10px; }
                textarea.txt { height:150px; }
            }
            .buttons-here {
                position:relative; height:40px; margin-top:15px;
                .btn {
                    margin:0; display: inline-block;
                    &.cancel-btn { position:absolute; left:0; }
                    &.success-btn { position:absolute; right:0; }
                }
            }
        }
    }

    &.youtube {
        .popup-box {
            width:460px;
            margin-left:-230px;
            height:344px;
            .border-radius(0);
            .popup-content {
                margin:0;
            }
        }
    }
}

#back-top-wrapper {
    width:100%;
    position:absolute;
    overflow:hidden;
    
    #back-top {
        position: fixed;
        bottom: 45px;
        left:50%;
        margin-left:570px;
        display:none;
        a {
            display:block;
            width:60px;
            height:60px;
            background:data-uri("@{images}/__to-top.gif") no-repeat 0 0 #d3d6ce;
            border-radius:30px;
            .box-shadow(0 1px 1px rgba(255,255,255,.5), 0 1px 1px #c3c9b7 inset);
            z-index:9999;
            &:hover { background-color:#eee; }
        }
    }
}

.work-content {
    .line {
        font-size:12px; display:block; min-height:15px; padding-left:13px; background-position:left center; background-repeat:no-repeat;
        &.green { background-image:data-uri("@{images}/h/__phone-green-circle.png"); }
        &.yellow { background-image:data-uri("@{images}/h/__phone-yellow-circle.png"); }
        .col { display:inline-block; float:left; width:73px; }
        .col-r { display:inline-block; }
    }
    .title { font-weight:bold; font-size:20px; margin-bottom:5px; margin-top:21px; }
}

.old-browsers-warning {
    background-color:#ffffaa;
    .inner {
        .inner-global;
        padding-left: 30px; padding-top: 20px; padding-bottom:20px;
        line-height: 24px;
        font-size:14px;
        color:#888822;
        background-image:data-uri("@{images}/extra/old-browsers/__icon-warning.png");
        background-repeat: no-repeat;
        background-position: 0 27px;
        a.browser {
            margin-left:10px;
            display: inline-block;
            background-color: #aaaa44; padding:2px 5px;
            color:#fff; background-repeat:no-repeat; background-position:center left 5px;
            .border-radius(3);
            text-decoration:none;
            
            &:hover {
                background-color:#888822;
            }

            &.firefox {
                padding-left:25px;
                background-image:data-uri("@{images}/extra/old-browsers/__icon-browser-firefox.png");
            }
            &.chrome {
                padding-left:25px;
                background-image:data-uri("@{images}/extra/old-browsers/__icon-browser-chrome.png");
            }
            &.opera {
                padding-left:25px;
                background-image:data-uri("@{images}/extra/old-browsers/__icon-browser-opera.png");
            }
        }
    }
}

.main-conteiner {
    margin-top: 14px;
    .inner-global;
    .box-shadow(0 0 10px 0 rgba(0, 0, 0, 0.3));
}

.spoiler-box {
    padding:17px 20px 0; margin-right:18px; position:relative; font-family:"Ubuntu", Arial; margin-bottom:10px;
    &.open {
        background-color:#eee;
    }
    .spoiler-title {
        cursor:pointer; display:inline-block; padding-right:18px; background-position:right 13px; background-repeat:no-repeat;
        &:hover { background-image:data-uri("@{images}/pages/__spoiler-darr.png"); }
        .icon {
            float:left; margin-right:20px;
            img { .border-radius(50%); }
        }
        .title-text {
            font-weight:bold; color:#00979c; border-bottom:1px dotted #00979c; display:inline-block;
            &:hover { color:#01b671; border-bottom-color: #01b671; }
        }
    }
    .spoiler-text {
        display:none; font-size:14px; padding-bottom:25px;
        .spoiler-close { cursor:pointer; position:absolute; top:20px; right:20px; display:block; .size(14); background-image:data-uri("@{images}/pages/__spoiler-close.png"); }
    }
}

.error-iframe {
    background:#fff; z-index:10001; padding:20px; font-size: 12px; .border-radius(10); .box-shadow(0 0 8px 0 rgba(0, 0, 0, 0.4));
    .title { font-weight:bold; padding-bottom:10px; }
    input.txt { 
        margin:10px 0; 
    }
}

header {
    background-color:#fff;
    .top-line {
        & > .inner {
            .inner-global; height:@header-height;
            .logo { .size(353,65); position:absolute; top:5px; left:33px; background-image:url("@{images}/logo-header.png"); }
            .phone-block {
                display:block;
                position:absolute;
                top:16px;
                left:500px;
                padding-left:38px;
                .phone-icon { display:block; left:0; top:5px; position:absolute; .size(27); z-index:9; background-image:data-uri("@{images}/h/__phone.png"); }
                .tel {
                    text-decoration:none;
                    color:inherit;
                    font-size:20px;
                    font-weight: bold;
                    color:#000;
                }
                .number {
                    position:relative;
                    .border-radius(4px);
                    height:26px;
                    padding:8px 43px 3px 9px;
                    z-index:9;
                    .box-shadow(inset 0 0 4px 0 rgba(0, 0, 0, 0.2));
                    .darr-border {
                        .size(1, 37);
                        display:block;
                        position:absolute;
                        top: 0;
                        right:35px;
                        border-right:1px dotted #ccc;
                    }
                    .darr {
                        background-image:data-uri("@{images}/h/__phone-darr.png");
                        .size(12, 6);
                        position:absolute;
                        right:11px;
                        top:16px;
                    }
                }
                &:hover {
                    .number { .box-shadow(none); }
                    .darr-border { display:none; }
                    .full-phone-box { display:block; }
                    .darr { background-image:data-uri("@{images}/h/__phone-darr-grey.png"); }
                }
                .full-phone-box {
                    display:none;
                    background-color:#fff;
                    width:100%;
                    padding-right:30px;
                    position:absolute;
                    top:-11px;
                    padding-top:52px;
                    padding-bottom:21px;
                    left:-16px;
                    .box-shadow(0 0 10px 0 rgba(0, 0, 0, 0.3));
                    .border-radius(5);
                    z-index:8;
                    .tel { margin-left:63px; margin-bottom:15px; display:inline-block; }
                    .work {
                        border-top:1px dotted #ccc; padding-right:30px; width:100%;
                        .work-content { padding-left:66px; margin-top:11px; background-position:16px 1px; background-repeat:no-repeat; background-image:data-uri("@{images}/h/__clock.png"); }
                    }
                }
            }

            .account-link,
            .account-link .account-open .head-line .avatar .default-avatar { background-image:data-uri("@{images}/h/__account.png"); }
            
            .account-link {
                position:absolute;
                right:33px;
                top:21px;
                color:#00979c;
                padding-left:32px;
                background-position: left center;
                background-repeat: no-repeat;
                font-family:"Ubuntu";
                display:inline-block;
                text-decoration:none;
                height:31px;
                font-size:16px;
                .border-bot {
                    border-bottom:1px dotted #00979c;
                    display: inline-block;
                    padding-top: 6px;
                }
                &:hover {
                    .border-bot { border-bottom-color:transparent; }
                }

                &.logged-in {
                    .account-open {
                        color:#222;
                        display:inline-block;
                        z-index:5;
                        position:absolute;
                        padding-top:2px;
                        top:-3px;
                        right:-12px;
                        background-color:#fff;
                        .border-radius(5);
                        .box-shadow(inset 0 0 3px 0 rgba(0, 0, 0, 0.3));
                        height:41px;
                        overflow:hidden;
                        
                        .head-line {
                            font-style:12px;
                            font-weight:bold;
                            background-repeat:no-repeat;
                            background-image:data-uri("@{images}/h/__account-open.png");
                            background-position:right center;
                            margin-right:24px;
                            margin-bottom:15px;
                            min-height:22px;
                            padding:12px 45px 5px 68px;
                            position:relative;
                            
                            .avatar {
                                display:block;
                                .size(34);
                                position:absolute;
                                left:14px;
                                top:3px;
                               
                                img { .border-radius(4); }
                                .default-avatar { .border-radius(4); .size(34); display:block; background-position:center center; background-repeat:no-repeat; }
                            }
                        }

                        .item {
                            padding:5px 5px 5px 43px; background-repeat:no-repeat; background-position:15px center; min-height:12px; margin-bottom:2px;
                            &.with-border { border-top:1px dotted #ccc; padding-bottom:9px; padding-top:8px; }
                            a { text-decoration:none; }

                            &.settings { background-image:data-uri("@{images}/h/account/__settings.png"); }
                            &.faq { background-image:data-uri("@{images}/h/account/__faq.png"); }
                            &.flash { background-image:data-uri("@{images}/h/account/__flash.png"); }
                            &.objects { background-image:data-uri("@{images}/h/account/__objects.png"); }
                            &.bank { background-image:data-uri("@{images}/h/account/__bank.png"); }
                            &.logout { background-image:data-uri("@{images}/h/account/__logout.png"); }
                        }
                    }


                    &:hover {
                        .account-open {
                            .box-shadow(0 0 7px 0 rgba(0, 0, 0, 0.3));
                            padding-top:12px;
                            top:-13px;
                            height:auto;
                            overflow:visible;
                        }
                    }
                }
            }
        }
    }
    .menu-block {
        background-color: #eee;
        & > .inner {
            .inner-global; height:@menu-height; position:relative;
            .menu {
                position:relative;
                padding-left:33px;
                width:@main-menu-width - 33;
                float:left;
                .item {
                    position:relative; display:inline-block;
                    &.item-right { position:absolute; right:0; top:0; margin-left:2px; }
                    &.open-submenu > a { position: relative; border-bottom-color: transparent; }
                    .forum {
                        display:block;
                        .size(16);
                        position:absolute;
                        top:19px;
                        left:29px;
                        z-index:3;
                        background-image:data-uri("@{images}/menu/__forum.png");
                    }
                    .goback {
                        display:block;
                        .size(14, 13);
                        position:absolute;
                        top:20px;
                        left:22px;
                        z-index:3;
                        background-image:data-uri("@{images}/menu/__goback.png");
                    }
                    .down { display:none; position:absolute; height:4px; right:3px; top:27px; width:6px; background-image:data-uri("@{images}/h/__down.png"); }
                    a {
                        text-decoration:none;
                        color:#222;
                        font-weight:bold;
                        display:inline-block;
                        font-size:16px;
                        outline:0 none;
                        text-decoration: none;
                        padding-bottom:3px;
                        position: relative;
                        .for-border { border-bottom:1px solid #00b770; }
                        &:hover {
                            a .for-border { border-bottom-color: transparent; }
                        }
                        &.a-element-box {
                            display:inline-block;
                            z-index:2;
                            line-height:55px;
                            height:55px;
                            padding:0 13px 0 14px;
                            &:hover, &.open {
                                background-color:#fff;
                                .for-border { border-bottom-width:0; }
                            }
                        }
                    }
                    &.forum {
                        padding-left:25px;
                        .a-element-box { padding-left:25px; }
                    }
                    &.goback {
                        padding-left:20px;
                        .a-element-box { padding-left:20px; }
                    }
                    .submenu {
                        display:none;
                        padding:0 0 20px;
                        position:absolute;
                        top:55px;
                        padding-top:14px;
                        left:0;
                        background-color:#fff;
                        .box-shadow(0 7px 10px 0 rgba(0, 0, 0, 0.3));
                        z-index:5;
                        a {
                            text-decoration:none;
                            display:block;
                            color:#00979c;
                            white-space: nowrap;
                            font-weight:normal;
                            line-height:16px;
                            font-size:14px;
                            padding:5px 15px 5px 15px;
                            min-height:16px;
                            &:hover { color:#fff; background-color:#01b671; background-color:#01b671; }
                            .for-border { border-bottom-width:0; }
                        }
                    }
                    &.with-sub-menu {
                        a .for-border { border-bottom-style: dotted; }
                    }
                }
            }
            .calc-btn {
                background-color: #3f4f87;
                display: inline-block;
                text-align:center;
                cursor:pointer;
                position:absolute;
                right:32px;
                top:0;
                padding: 18px 36px 15px 69px;
                width:161px;
                color:#fff;
                font-size:16px;
                height:22px;
                z-index:4;
                &:hover {
                    .title { color:#444; }
                    z-index:55;
                    
                    .icon { background-image:data-uri("@{images}/h/__calc-icon-hover.png"); z-index:6; }
                    .calc-open { display:block; .box-shadow(0 0 7px 0 rgba(0, 0, 0, 0.3)); }
                    .darr { display:none; }
                }
                .title { z-index:55; position:relative; display:inline-block; }
                .icon {
                    position:absolute;
                    left:24px;
                    top:11px;
                    background-image:data-uri("@{images}/h/__calc-icon.png");
                    display:block; .size(33);
                }
                
                .darr {
                    .size(6, 4);
                    position:absolute;
                    top:28px;
                    right:18px;
                    display:block;
                    background-image:data-uri("@{images}/menu/__calc-darr.png");
                }

                .calc-open {
                    display: none;
                    cursor:default;
                    position:absolute;
                    background-color: #fff;
                    padding:74px 20px 20px 35px;
                    top:-13px;
                    left:-11px;
                    text-align:left;
                    right:-10px;
                    .item {
                        margin-bottom:12px;
                        a {
                            font-size:12px; line-height:15px;
                        }
                    }
                }
            }
        }
    }
}

content {
    .inner-global; display:inline-block; padding-bottom:@footer-height;
    > .inner {
        width:@base-width - @sidebar-width - 33; float:left; padding-bottom:50px; padding-left:33px;
        breadcrumbs {
            margin-top:18px; margin-bottom:15px;
            color:#888;
            font-size:12px;
            .current {
                color:#000;
            }
        }

        .block {
            & > .subblock-left {
                .size(434, 235);
                & > h2 { 
                    position:relative; top:22px;
                    padding:25px 0 25px 33px;
                }
            }

            & > .subblock-right {
                width:400px;
                position:relative; left:-0.2em;
                min-height:235px;
                background-image:data-uri("@{images}/pages/foruser/__block-right-shadow.png");
                background-repeat:repeat-y;
                & > .in {
                    padding: 22px 32px 10px 32px;
                    ul {
                        list-style: none;
                        margin:0;
                        li {
                            //display:block;
                            & > * { display:inline-block; vertical-align:middle; }

                            img { margin-right: 10px;}
                            margin:0 0 3px 0; padding:0;
                            &.or { font-size:12px; color:#444; padding-left:40px; }
                            &.li-small > a { font-size: 12px;}
                        }
                    }
                }

                & > .more {
                    
                    text-align:right;
                    a {
                        background-color: #00979c;
                        display:inline-block;
                        color:#fff;
                        text-decoration: none;
                        font-size:12px;
                        padding:5px 10px 7px 20px;
                        &:hover { background-color:#01b671; }
                    }
                }
            }
        }

        slider {
            text-align:center; height:211px; position: relative; margin-bottom:33px;
            .slider-btn {
                position:absolute;
                top:65px;
                display:block;
                z-index:4;
                .size(37, 61);
                cursor:pointer;
                &.next-btn { background-image:data-uri("@{images}/slider/__next.png"); right:21px; }
                &.prev-btn { background-image:data-uri("@{images}/slider/__prev.png"); left:-1px; }
            }
            
            .slide{ height: 422px; color:#fff; display: inline-block; width: @base-width - @sidebar-width - 33; position: relative;
                .slide_img{
                    position: absolute;
                    top: 50px;
                    left: (@base-width - @sidebar-width) / 2px-125px;
                    img{ margin:0; }
                }
            }

            img { margin-left:-21px; max-width:800px; }
            .bullets {
                text-align:center;
                display:inline-block;
                position:relative;
                top:6px;
                .bullet { .border-radius(5px); display:block; position:relative; float:left; cursor:pointer; width:10px; height:10px; margin:0 5px; background-color:#e5e5e5;
                    &.active { background-color:#00979c; }
                }
            }
        }

        &.page_news slider,
        &.page_news-item slider {
            margin-top:20px;
            margin-bottom:0;
        }

        .real-full-width-block { display:inline-block; position:relative; width:853px; margin-left:-33px; margin-right:-33px; }
        
        h1.big-title {
            display:inline-block; font-weight:bold; font-size:40px; color:#fff; padding:15px 30px 15px 33px; margin-left:-33px; margin-top:30px; background-color:#00979c;
            &.green { background-color:#01b671; }
            &.normal-margin { margin-top:26px; }
        }
        
        h2.big-subtitle {
            display:inline-block; font-weight:bold; font-size:24px; color:#fff; padding:10px 30px 10px 33px; margin-left:-33px; margin-top:30px; background-color:#00979c;
            &.green { background-color:#01b671; }
            &.normal-margin { margin-top:26px; }
        }
        .main-page-text {
            font-size:16px; color:#000; line-height:24px; margin-top:20px; margin-bottom:20px;padding-right:10px; padding-bottom:40px; border-bottom:1px solid #cceaeb;
        }
        .page-subtitle {
            color:#000; font-size:24px; line-height:30px; margin-top:40px; margin-bottom:20px; font-weight:bold;
            &.border-top { padding-top:40px; border-top:1px solid #cceaeb; }
        }
        .subtitle-item {
            padding-left:96px;
            background-repeat:no-repeat;
            display:inline-block;
            margin-top:16px;
            background-position:left top;
            margin-bottom:14px;
            &.with-icon { min-height:68px; }
            .title {
                font-weight:bold; font-size:20px; margin-bottom:18px; display:inline-block;
            }
            .desc {
                color:#000; font-size: 12px; line-height:15px;
                p { text-indent:0; padding:0; margin:0; }
            }
        }

        .page-map {
            margin-top:13px;
            .item {
                min-height:20px; margin-top:13px; background-position:left center; background-repeat:no-repeat; padding-left:35px;
                &.clock { background-image:data-uri("@{images}/pages/page-map-icons/__clock.png"); }
                &.marker { background-image:data-uri("@{images}/pages/page-map-icons/__marker.png"); }
                &.phone { background-image:data-uri("@{images}/pages/page-map-icons/__phone.png"); }
                &.letter { background-image:data-uri("@{images}/pages/page-map-icons/__letter.png"); }
                a { font-size:20px; }
            }
        }

        &.page_contacts {
            font-size:16px;
            .work-content {
                .line {
                    font-size:16px; font-weight:bold; min-height:24px; line-height:24px;
                    .col { width:204px; }
                    .col-r { font-weight: normal; }
                    &.comment {
                        font-size:12px; font-weight:normal; padding-left:0;
                        a { text-decoration:none; }
                    }
                }
            }
            .phone-line { line-height:24px; }
            .map-block { margin-top:43px; margin-bottom:45px; }
            .feedback-form {
                .field-group {
                    .txt { color:#01b671; margin-top:12px; margin-bottom:25px; width:277px; }
                    textarea.txt { .size(655, 216); }
                    .btn { margin-top:8px; font-size:24px; width:317px; padding:0 0 5px; height:56px; }
                }
            }
        }

        .news-list {
            display:inline-block;
            .news-item {
                width:375px; display:inline-block; padding-right:35px;
                &.first { float:left; }
                h2.title { color:#000; margin-bottom:8px; }
                .date { color:#00979c; font-size:12px; margin-bottom:16px; }
                .announce { color:#000; font-size:12px; line-height:15px; }
                .details { margin-top:8px; text-align:right; font-size:12px; }
            }
            & + .news-list { margin-top:37px; }
        }

        .btn-more {
            display:inline-block;
            margin-top:41px;
            .btn {
                font-size:20px;
                padding:5px 32px 5px 75px;
                height:45px;
                line-height:45px;
                position:relative;
                .icon-reload {
                    display:block;
                    .size(21);
                    position:absolute;
                    top:17px;
                    left:39px;
                    z-index:4;
                }
            }
        }

        .ruler {
            margin-top:48px;
            a {
                color:#00979c; font-size:16px; text-decoration:none; margin-left:5px; margin-right:5px; background-position:center center; background-repeat:no-repeat;
                &.current { display:inline-block; .border-radius(3); cursor:default; height:28px; line-height:28px; background-color:#00979c; padding-left:9px; padding-right:9px; font-weight:bold; color:#fff; }
                &.first { display:inline-block; height:12px; width:14px; background-image:data-uri("@{images}/pagination/__first.png"); margin-left:2px; margin-right:2px; }
                &.prev  { display:inline-block; height:12px; width:14px; background-image:data-uri("@{images}/pagination/__prev.png"); margin-left:2px; margin-right:2px; }
                &.next  { display:inline-block; height:12px; width:14px; background-image:data-uri("@{images}/pagination/__next.png"); margin-left:2px; margin-right:2px; }
                &.last  { display:inline-block; height:12px; width:14px; background-image:data-uri("@{images}/pagination/__last.png"); margin-left:2px; margin-right:2px; }
            }
        }
    }

    .sidebar {
        padding-bottom: 10px;
        margin-left: @base-width - @sidebar-width;
        width: @sidebar-width - 24;
        padding-left: 24px;

        .search {
            padding-top:22px; margin-bottom:15px;
            input[type=text] { 
                color:#444;
                font-family:"Ubuntu", Arial;
                font-size:16px;
                .box-shadow(inset 0 0 4px 0 rgba(0, 0, 0, 0.2));
                .border-radius(4px);
                width:238px;
                padding:4px 14px 3px 14px;
                height:30px;
                border:0 none;
                background-image: data-uri("@{images}/sidebar/__search.png");
                background-repeat:no-repeat;
                background-position:202px center;
            }
        }
        .payonline { position:relative; margin-bottom:10px; margin-top:11px; display:inline-block; }
        .personal-account { position:relative; margin-top:1px; display:inline-block; }
        .partners {
            background-color:#eee;
            color: #444;
            padding:20px 20px 14px 20px;
            margin-right:26px;
            width:226px;
            .title {
                font-size:16px; font-weight:bold; margin-top:4px; margin-bottom:14px;
            }
            .item {
                display:block; margin-bottom:14px; min-height:54px; height:54px; position: relative;
                a {
                    display:inline-block;
                    font-size:12px;
                    line-height:15px;
                    margin-left:69px;
                    margin-top: -15px;
                    position: absolute;
                    top: 50%;
                }
                .img {
                    display:block; left:0; position:absolute; float:left; .size(54); overflow:hidden; .border-radius(27);
                }
            }
        }
        .links-title { margin-top:30px; font-weight:bold; }
        .links {
            margin-top:20px;
            width:266px;
            a {
                display:block;
                font-size:12px;
                .border-radius(2);
                background-image:data-uri("@{images}/sidebar/__link-blue.png");
                background-repeat:no-repeat;
                background-position: 22px 15px;
                padding:34px 22px 20px 22px;
                text-decoration:none;
                &:hover { color:#01b671; background-image:data-uri("@{images}/sidebar/__link-green.png");}
                &:nth-child(odd) {
                    background-color:#00979c;
                    color:#fff;
                    background-image:data-uri("@{images}/sidebar/__link-white.png");
                    &:hover { background-color:#01b671; }
                }
                &:nth-child(even)
                {
                    margin-top:10px; margin-bottom:10px;
                }
            }
        }
        .qr-code-box {
            .box-shadow(0 0 3px 0 rgba(0, 0, 0, 0.3));
            .border-radius(5); 
            margin-top:15px; margin-bottom:10px;
            width:266px;
            .inner {
                padding:20px; text-align:center;
                font-size:16px;
                color:#00979c;
                img { .noselect; vertical-align:middle; }
            }
            
        }
    }
}
.divider-conteiner {
    .inner-global;
    position: absolute;
    top: @header-height + @menu-height;
    bottom: @footer-height;
    width:0;
    .divider {
        background-repeat: repeat-y;
        background-image: data-uri("@{images}/sidebar/__shadow.png");
        position: absolute;
        margin-left: @base-width - @sidebar-width;
        top: 0;
        bottom: 0;
        display:block;
        width:20px;
    }
}
footer{
    .size(100%, @footer-height); position:absolute; bottom:0; background-color:#eee; font-size:12px; line-height:15px;
    & > .inner {
        .inner-global; padding:49px 33px 0; height:78px;
        color:#fff;
        .left {
            width:180px;
            float: left;
            display: inline-block;
            .copyright { color:#000; margin-top:14px; }
        }
        .center {
            width:@base-width - 180 - 645;
            float: left;
            display: inline-block;
            .links {
                a { color:#01b671; margin-right:14px; }
            }
            .mistakes { color:#888; margin-top:25px;
                a { color:#20837c; text-decoration:none; }
            }
        }
        .right {
            width:645px;
            display: inline-block;
            .social {
                width:233px;
                text-align: left;
                margin-right:32px;
                float:left;
                color:#222;
                .icons {
                    display:block;
                    //height:27px;
                    margin-top:19px;
                    .icon {
                        margin-right: 13px;
                        display: block;
                        float: left;
                        .size(27);

                        &.vk { background-image:data-uri("@{images}/f/social/__vk.png"); }
                        &.fb { background-image:data-uri("@{images}/f/social/__fb.png"); }
                        &.instagram { background-image:data-uri("@{images}/f/social/__instagram.png"); }
                        &.youtube { background-image:data-uri("@{images}/f/social/__youtube.png"); }
                        &.twitter { background-image:data-uri("@{images}/f/social/__twitter.png"); }
                        &.linkedin { background-image:data-uri("@{images}/f/social/__linkedin.png"); }
                        &.rss { background-image:data-uri("@{images}/f/social/__rss.png"); }

                        &.last { margin-right:0; }


                    }

                    .rss-container {
                        font-size:14px; color:#888;
                        display:block;
                        padding-top:10px;
                        clear:both;
                        & > * { display:inline-block; float:none; vertical-align:middle; }
                    }
                }
            }
            .subscribe {
                display:inline-block; width:308px; color:#888; font-size:12px; line-height:15px; text-align:left;
                .title { color:#222; }
                a { text-decoration:none; }
                .form-line {
                    margin-top:19px; margin-bottom:14px; height:26px;
                    .subscribe-email {
                        .box-shadow(inset 0 0 3px 0 rgba(0, 0, 0, 0.3));
                        .border-radius(5);
                        color:#444;
                        float:left;
                        font-family:"Ubuntu", Arial;
                        border:0px none;
                        font-size:12px;
                        display: inline-block;
                        padding:3px 8px 2px;
                        width: 178px;
                        margin-right:7px;
                        height:26px;
                        line-height:26px;
                    }
                    .offer-text { padding-left:2px; }
                    .btn { width:91px; display: inline-block; height:16px; .box-shadow(0 3px 0 0 #01663c); line-height:15px; font-size:12px; padding:5px 0; }
                    .thx { font-weight:bold; color:#01b671; }
                }
            }
        }
    }
}
