@font-face {
 font-family: "PFBeauSans";
 src: url("../fonts/pfbeausanspro-reg.ttf");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
}
html { height: 101%; } /* always display scrollbars */
body { font-size: 62.5%; line-height: 1;}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; }

input { outline: none; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

body {
  background-color: #f2f2f2 !important;
}

#headerP2P {
  background-color: #66c7c4;
  min-height: 91px;
  font-family: 'PFBeauSans';
}

#headerP2P img {
  float: left;
}

#headerP2P span{
  color: white;
  font-size: 13px;
  padding: 0 0 0 10px;
  float: left;
}

#headerP2P .container {
  height: inherit;
}

.breadcrumbs {
  margin-top: 10px;
}

.breadcrumbs li,
.breadcrumbs li a,
.breadcrumbs span
{
  padding-right: 4px;
  font-size: 14px;
  color: #66C7C4;
}

.breadcrumbs li:last-child {
  color: #7b7b7b;
}

.main-title h1 {
  color: #1F1F1F;
  font-size: 24px;
}

.p2p-container {
  background-color: white;
}

.card-owner__card {
  display: grid;
  box-shadow: 0px 0px 4.472px rgba(0, 0, 0, 0.2);
  background: #FFFFFF;
}

.p2p-container h3{
  color: #464646;
  font-size: 20px;
}

.p2p-form .card-owner input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #ccc;
  text-align: center;
  color: #757575;
  font-size: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.expiry-date .expiry-date__group input {
  width: 40px;
  font-size: 15px;
}

.expiry-date .expiry-date__group span {
  margin: 0 5px;
}

.p2p-form .card-owner .cvc2-cvv2 input {
  width: 60px;
  font-size: 15px;
}

.p2p-form .card-owner .card-owner__card label {
  color: #464646;
  font-size: 16px;
}

.user-amount input{
  width: 90px;
  background: #FFFFFF;
  border: 1px solid #CED2DB;
  padding: 5px
}
.user-amount > span {
  color: #9EA1A3;
  font-size: 12px;
}

.p2p-container .p2p-info-box p {
  font-size: 14px;
}

.p2p-info-box .info-box {
  box-shadow: 0px 0px 4.472px rgba(0, 0, 0, 0.2);
}

.p2p-info-box .info-box .btn-more span {
  cursor: pointer;
  color: #317D7A;
}

.submit-btn button {
  background: #317D7A;
  border-radius: 6px;
  border: 0;
  color: #FFFFFF;
  width: 180px;
  cursor: pointer;
  height: 45px;
}

.footer-p2p {
  background-color: #292929;
  min-height: 91px;
}

.footer-p2p .footer-text p {
  margin: 0;
  padding: 0;
  color: #949494;
  font-size: 14px;
  font-family: 'PFBeauSans';
}

.footer-p2p .footer-text p #smart {
  color: #317D7A;
}

#hiddenText h2 {
  color: #464646;
  font-size: 20px;
}

#hiddenText ul {
  margin-left: 30px;
}

#hiddenText ul li {
  list-style: initial;
}

.footer-p2p .logo-gerc img{
  height: 60px;
}

@media(max-width: 400px) {
  .p2p-form .card-owner input {
    font-size: 20px;
  }
}

@media(max-width: 316px) {
  .p2p-form .card-owner .card-owner__card > input {
    width: inherit;
  }
  .p2p-form .card-owner input {
    font-size: 17px;
  }
}


input::placeholder {
  color: #9EA1A3;
}

.logo-container img {
    max-width: 60px;
}

#paymentFormCard .agreement {
    min-width: 310px;
    max-width: 450px;
}