AddDefaultCharset UTF-8

SetEnvIfNoCase User-Agent "^MJ12bot" bad_bot
SetEnvIfNoCase User-Agent "^meanpathbot" bad_bot
SetEnvIfNoCase User-Agent "^archive.org_bot" bad_bot
SetEnvIfNoCase User-Agent "^Riddler" bad_bot

Order Allow,Deny
Allow from all
Deny from env=bad_bot 

Options -Indexes
Options +FollowSymLinks

<IfModule mod_php5.c>
  php_value magic_quotes_gpc                0
  php_value register_globals                0
  php_value session.auto_start              0
  php_value mbstring.http_input             pass
  php_value mbstring.http_output            pass
  php_value mbstring.encoding_translation   0
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault A1209600
  <FilesMatch \.php$>
    ExpiresActive Off
  </FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{HTTP_HOST} ^www.gioc.kiev.ua$ [NC]
  RewriteRule ^(.*)$ http://gioc.kiev.ua/$1 [L,R=301]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>
