@import "variables";

.bill-table {
    display: block;

    &__caption {
        margin: 30px auto;
        text-align: center;
    }

    &__row {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;

        padding: 1em;

        border-radius: 0.5em;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);

        @media (min-width: $largeWidth) {
            flex-direction: row;
            justify-content: space-around;
        }

        &--outer {
            margin-bottom: 30px;
        }
    }

    &__cell {
        width: 80%;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin-bottom: 20px;

        @media (min-width: $largeWidth) {
            width: auto;
            margin: 0;
        }
    }

    &__cell-head {
        padding: 10px 1em;
        background-color: $buttonColorYellow;
        border-radius: 10px;
        text-align: center;
    }

    &__cell-body {
        text-align: center;
    }

    &__input {
        padding: 5px;
        width: 50%;
        min-width: 50px;
        border: 1px solid $linkColor;
        border-radius: 10px;

        outline: none;

        &:focus {
            border-color: $linkHoverColor;
        }
    }

    &--outer {
        margin: 30px 0;
    }

    &__sum {
        width: 100%;
        margin: 0 auto;

        @media (min-width: 600px) {
            width: 40%;
        }

        @media (min-width: $largeWidth) {
            width: 20%;
        }
    }

    &__sum-text {
        text-align: center;
        margin-bottom: 20px;
    }
}
