@import "variables";

breadcrumbs {
    width: $contentMobileWidth;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0 0 10px;

    @media (min-width: $mediumWidth) {
        width: $contentMediumWidth;
        margin: 0 auto;
    }

    @media (min-width: $largeWidth) {
        width: $contentExtraWidth;
    }

    & a {
        position: relative;

        margin-right: 20px;
        text-decoration: none;
        color: $linkColor;

        transition: 0.3s color ease-in-out;

        &:hover {
            color: $linkHoverColor;
        }

        &::after {
            content: "/";
            position: relative;
            left: 10px;

            color: #dbdbdb;
        }
    }

    & .current {
        color: #dbdbdb;
    }
}
