@import "variables";
@import "fonts";

html {
    font-family: 'Helvetica', sans-serif;
    font-size: $baseFontSize;
}

body {
    margin: 0;
}

@import "header";
@import "navigation";
@import "button";
@import "breadcrumbs";
@import "footer";
@import "visually-hidden";
