@import "variables";

.navigation {
    background-color: #fff;

    &__container {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 15px 0;

        @media (min-width: $mediumWidth) {
            width: $contentMediumWidth;
        }
    }

    &__list {
        display: none;

        @media (min-width: $smallWidth) {
            width: 400px;
            display: flex;
            justify-content: space-between;

            margin: 0 auto;
            padding: 0;
            list-style: none;
        }

        @media (min-width: $mediumWidth) {
            width: $contentMediumWidth - ($contentMediumWidth / 5) * 2;
        }
    }

    &__link {
        position: relative;
        display: block;
        color: $linkColor;
        text-decoration: none;
        padding: 10px 5px;

        font-family: 'Helvetica Bold', sans-serif;

        transition: 0.3s color ease-in-out;
        outline: none;

        &:hover,
        &:focus {
            color: $linkHoverColor;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            top: 100%;
            left: 0;
            width: 100%;
            height: 2px;

            border-radius: 2px;
            background-color: $linkHoverColor;

            opacity: 0;
            transition: 0.3s ease-in-out;
            transform: translateY(10px);
        }

        &:hover::after,
        &:focus::after,
        &:active::after {
            transform: translateY(0);
            opacity: 1;
            color: #000;
        }
    }

    &__img {
        width: 76px;
        height: 90px;
    }

    &__mobile-list {
        margin: 0;
        padding: 0;
        list-style: none;

        @media (min-width: $smallWidth) {
            display: none;
        }
    }
}
