$smallWidth: 640px;
$mediumWidth: 960px;
$largeWidth: 1200px;
$extraLargeWidth: 1600px;
$contentMobileWidth: 300px;
$contentSmallWidth: 600px;
$contentExtraWidth: 1200px;
$contentMediumWidth: 900px;

$mainColorBlue: #1e355e;
$linkColor: #061d47;
$linkHoverColor: #0188fe;
