$extraSmallWidth: 400px;
$smallWidth: 640px;
$mediumWidth: 960px;
$largeWidth: 1200px;
$extraLargeWidth: 1600px;
$contentMobileWidth: 300px;
$contentSmallWidth: 590px;
$contentExtraWidth: 1100px;
$contentMediumWidth: 900px;

$footerBreakpointMedium: 767px;

$mainColorBlue: #1e355e;
$linkColor: #061d47;
$linkHoverColor: #0188fe;
$buttonColorYellow: #ffd800;

$baseFontSize: 16px;
$boldFontSize: 18px;
$lightFontSize: 15px;
$h2FontSize: 48px;
$h3FontSize: 20px;
$headerFontSize: 14px;
